$primary: purple;
$secondary: rgb(141, 68, 0);
$danger: red;

/* You can add global styles to this file, and also import other style files */
// styles.scss
@import "../node_modules/bootstrap/scss/bootstrap.scss";